.switch {
  display: table;
  margin: 0 auto;
}

.switch {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  white-space: nowrap;
  user-select: none;
  .slide-toggle-bar {
    display: inline-block;
    margin-right: 8px;
    margin-left: 0;
    position: relative;
    top: 5px;
    width: 36px;
    height: 14px;
    border-radius: 8px;
  }
  input {
    position: absolute;
    left: -99999px;
  }
  input + span {
    position: relative;
    display: block;
    width: 36px;
    height: 14px;
    border-radius: 8px;
    border: none;
    background-color: #B2B2B2;
    background-color: rgba(0, 0, 0, 0.26);
    transition: background-color linear .08s;
  }
  input + span:before {
    content: '';
    display: inline-block;
  }
  input + span:after {
    content: '';
    position: absolute;
    top: -3px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.4), 0px 0px 0px -1px rgba(0, 0, 0, 0.5);
    background-color: #FAFAFA;
    border: none;
    transition: transform linear .08s, background-color linear .08s;
  }

  input:checked + span {
    background-color: rgba(255,193,7,.5);
  }
  input:checked + span:after {
    background-color: #ffc107;
    transform: translate3d(18px, 0, 0);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.4), 0px 0px 0px -1px rgba(0, 147, 133, 0.5);
  }
}

:host >>> .CodeMirror {
  height: auto;
}