.vs/
.ionide/

QuantApp.Kernel/.gitignore
QuantApp.Kernel/.git/
QuantApp.Kernel/bin/
QuantApp.Kernel/obj/

QuantApp.Engine/.gitignore
QuantApp.Engine/.git/
QuantApp.Engine/bin/
QuantApp.Engine/obj/

QuantApp.Server/bin/
QuantApp.Server/obj/

QuantApp.Server/__pycache__/
QuantApp.Server/.ipynb_checkpoints/

QuantApp.Server/wwwroot/

bin/
obj/
mnt/

nugets/
QuantApp.Server/nugets/

QuantApp.Server/jars/

.DS_Store
