.vs/
.ionide/

QuantApp.Kernel/.gitignore
QuantApp.Kernel/.git/
QuantApp.Kernel/bin/
QuantApp.Kernel/obj/

QuantApp.Engine/.gitignore
QuantApp.Engine/.git/
QuantApp.Engine/bin/
QuantApp.Engine/obj/

CoFlows.Server/bin/
CoFlows.Server/obj/

CoFlows.Server/__pycache__/
CoFlows.Server/.ipynb_checkpoints/

CoFlows.Server/wwwroot/

obj/
mnt/

nugets/
CoFlows.Server/nugets/

CoFlows.Server/jars/

.DS_Store
CoFlows.Server/libpython3.7m.dylib
CoFlows.Server/python3.7m
CoFlows.Server/libJNIWrapper.jnilib
