<ngb-tabset #tabsMain>
    <ngb-tab>
        <ng-template ngbTabTitle>
            <div class="f-headers text-color" (click)="tabBeforeChange(0)">{{ workflow.Name }}</div>
        </ng-template>

        <ng-template ngbTabContent>
            <div class="p-3">
                <div class="card">

                    <div class="card-header">
                        <div class="card-header-text w-100">
                            <div class="card-title">
                                <!-- Agents -->

                                <div class="d-flex align-items-center">
                                    <div class="mr-3">
                                        <label class="switch m-b">
                                            <div class="slide-toggle-bar">
                                                Agents
                                            </div>
                                        </label>
                                        <!-- <span class="slide-toggle-content">dd</span> -->
                                    </div>
                                    <div class="mr-auto"></div>
        
                                    <div class="d-flex align-items-center" *ngIf="permission == 2">
                                        <div class="forum-stat">
                                                
                                            <a class="f-headers text-color" href="{{coflows.coflows_server}}lab/{{wid}}/" target="_blank" routerLinkActive="active" >
                                                <div class="icon icon-basic-share"></div>

                                                <small>Lab &nbsp;&nbsp;</small>
                                            </a>
                                        </div>
                                    </div>
                                    
                                    <div class="d-flex align-items-center" *ngIf="permission == 2">
                                        <div class="forum-stat">
                                            <a class="f-headers text-color" href="{{coflows.coflows_server}}flow/getzipfromworkflow?id={{wid}}"  routerLinkActive="active" >
                                                <div class="icon icon-basic-elaboration-cloud-download"></div>

                                                <small>Zip &nbsp;&nbsp;</small>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center" *ngIf="permission == 2">
                                        <div class="forum-stat">
                                            <a (click)="createNewFunctionFs()" routerLinkActive="active" >
                                                <div class="icon icon-arrows-circle-plus"></div>
                                                <small>F# &nbsp;</small>
                                            </a>
                                            
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center" *ngIf="permission == 2">
                                        <div class="forum-stat">
                                            <a (click)="createNewFunctionCs()" routerLinkActive="active" >
                                                <div class="icon icon-arrows-circle-plus"></div>
                                                <small>C# &nbsp;</small>
                                            </a>
                                            
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center" *ngIf="permission == 2">
                                        <div class="forum-stat">
                                            <a (click)="createNewFunctionPy()" routerLinkActive="active">
                                                    
                                                <div class="icon icon-arrows-circle-plus"></div>
                                                <small>Py &nbsp;</small>
                                            </a>
                                            
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center" *ngIf="permission == 2">
                                        <div class="forum-stat">
                                            <a (click)="createNewFunctionJs()" routerLinkActive="active">
                                                    
                                                <div class="icon icon-arrows-circle-plus"></div>
                                                <small>Js &nbsp;</small>
                                            </a>
                                            
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center" *ngIf="permission == 2">
                                        <div class="forum-stat">
                                            <a (click)="createNewFunctionVb()" routerLinkActive="active">
                                                    
                                                <div class="icon icon-arrows-circle-plus"></div>
                                                <small>VB</small>
                                            </a>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                    <div class="card-body" *ngFor="let item of agents">
                        <div class="d-flex align-items-center">
                            <div class="mr-3">
                                <label class="switch m-b">
                                    <div class="slide-toggle-bar">
                                        <input  #selectElem type="checkbox" [(ngModel)]="item.Started" [checked]="item.Started" (change)="onChangeActiveFunction(item.ID, selectElem.value)">
                                        <span></span>
                                    </div>
                                </label>
                                <span class="slide-toggle-content">{{ item.Started ? 'Active' : 'Inactive'}}</span>
                            </div>
                            <div class="mr-auto">
                                <a routerLink="/workflows/agent/{{wid}}/{{item.ID}}" routerLinkActive="active" class="ff-headers text-color">{{ item.Name }}</a>        
                                <div>{{ item.Description }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <div class="card-header-text w-100">
                            <div class="card-title">
                                <!-- Scripts -->
                                <a routerLink="/workflows/query/{{wid}}/0" routerLinkActive="active" class="ff-headers text-color">Queries</a>
                            </div>
                        </div>
                    </div>
                    <div class="scroll-y" style="max-height: 400px;">
                        <div class="card-body" *ngFor="let item of workbooks">
                            <div class="d-flex align-items-center" *ngIf="item.Value.ID != ''">
                                <div class="mr-3">
                                    <a (click)="cfquery.submitCode(item.Value)" routerLinkActive="active" class="ff-headers text-color">
                                        <div class="icon icon-arrows-circle-left"></div>
                                    </a>
                                </div>
                                <div class="mr-auto">
                                    <a routerLink="/workflows/query/{{wid}}/{{item.Value.ID}}" routerLinkActive="active" class="ff-headers text-color">{{ item.Value.Name }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <coflows-query  #cfquery></coflows-query>

            </div>
        </ng-template>
    </ngb-tab>

    <ngb-tab>
        <ng-template ngbTabTitle>
            <div class="f-headers text-color" (click)="tabBeforeChange(1)">Source</div>
        </ng-template>

        <ng-template ngbTabContent>
            <div class="col-sm-12 col-md-12">
                <div class="form-group">
                    <select #selectElemFiles (change)="onChangeFile(selectElemFiles.value)" class="form-control">
                        <option *ngFor="let item of files" [value]="item">{{workflow.Code[item].Item1}}</option>
                    </select>
                </div>
            </div>
            <codemirror *ngIf="permissionSet && workflow.Code != undefined && workflow.Code[fileidx] != undefined && !(workflow.Code[fileidx].Item2.startsWith('//scala') || workflow.Code[fileidx].Item2.startsWith('//java') || workflow.Code[fileidx].Item2.startsWith('//js') || workflow.Code[fileidx].Item2.startsWith('\'vb') || workflow.Code[fileidx].Item2.startsWith('//cs') || workflow.Code[fileidx].Item2.startsWith('import clr') || workflow.Code[fileidx].Item2.startsWith('#py')) || workflow.Code[fileidx].Item1.endsWith('.fs')" [(ngModel)]="workflow.Code[fileidx].Item2" 
            [config]="editorOptionsFs">
            </codemirror>

            <codemirror *ngIf="permissionSet && workflow.Code != undefined && workflow.Code[fileidx] != undefined && workflow.Code[fileidx].Item2.startsWith('//cs') || workflow.Code[fileidx].Item1.endsWith('.cs')" [(ngModel)]="workflow.Code[fileidx].Item2" 
            [config]="editorOptionsCs">
            </codemirror>

            <codemirror *ngIf="permissionSet && workflow.Code != undefined && workflow.Code[fileidx] != undefined && (workflow.Code[fileidx].Item2.startsWith('import clr') || workflow.Code[fileidx].Item2.startsWith('#py') || workflow.Code[fileidx].Item1.endsWith('.py'))" [(ngModel)]="workflow.Code[fileidx].Item2" 
            [config]="editorOptionsPy">
            </codemirror>

            <codemirror *ngIf="permissionSet && workflow.Code != undefined && workflow.Code[fileidx] != undefined && workflow.Code[fileidx].Item2.startsWith('\'vb') || workflow.Code[fileidx].Item1.endsWith('.vb')" [(ngModel)]="workflow.Code[fileidx].Item2" 
            [config]="editorOptionsVb">
            </codemirror>

            <codemirror *ngIf="permissionSet && workflow.Code != undefined && workflow.Code[fileidx] != undefined && workflow.Code[fileidx].Item2.startsWith('//js') || workflow.Code[fileidx].Item1.endsWith('.js')" [(ngModel)]="workflow.Code[fileidx].Item2" 
            [config]="editorOptionsJs">
            </codemirror>

            <codemirror *ngIf="permissionSet && workflow.Code != undefined && workflow.Code[fileidx] != undefined && workflow.Code[fileidx].Item2.startsWith('//java') || workflow.Code[fileidx].Item1.endsWith('.java')" [(ngModel)]="workflow.Code[fileidx].Item2" 
            [config]="editorOptionsJava">
            </codemirror>

            <codemirror *ngIf="permissionSet && workflow.Code != undefined && workflow.Code[fileidx] != undefined && workflow.Code[fileidx].Item2.startsWith('//scala') || workflow.Code[fileidx].Item1.endsWith('.scala')" [(ngModel)]="workflow.Code[fileidx].Item2" 
            [config]="editorOptionsScala">
            </codemirror>


            <!-- <div>
                <button (click)="submitWB()" class="btn btn-primary">Submit</button>
            </div> -->
        </ng-template>
    </ngb-tab>

    <ngb-tab>
        <ng-template ngbTabTitle>
            <div class="f-headers text-color" (click)="tabBeforeChange(1)">Files</div>
        </ng-template>

        <ng-template ngbTabContent>

            <div class="card">
                <!-- <div class="card-header">Files</div> -->
                <div class="scroll-y" style="max-height: 400px;">

                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th width="50%">Name</th>
                                <th>Size</th>
                                <!-- <th>Progress</th> -->
                                <th>Date</th>
                                <th>Remove</th>
                                <th>Permissions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let item of groupFiles">
                            <td><a (click)="downloadFile(item)" routerLinkActive="active" class="ff-headers text-color">{{ item.Name }}</a></td>
                            
                            <td  nowrap>{{ item.Size }}</td>
                            <td  nowrap>{{ item.Date }}</td>
                            
                            <td nowrap>
                                <a (click)="openRemoveFile(removefile, item)"  class="ff-headers text-color">
                                    <div class="icon icon-arrows-circle-remove"></div>
                                </a>
                            </td>

                            <td>
                                <select class="form-control  form-control-sm" #selectF  (change)="setPermission(item.ID, item.Permission, selectF.value)">
                                    <option [value]="-1" [selected]="item.Permission == -1">Denied</option>
                                    <option [value]="0" [selected]="item.Permission == 0">View</option>
                                    <option [value]="1" [selected]="item.Permission == 1">Read</option>
                                    <option [value]="2" [selected]="item.Permission == 2">Write</option>
                                </select>   
                            </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div class="card" *ngIf="permission == 2">
                <div class="card-header">Upload</div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-3">
                      <p>Select files</p>
              
                      <div ng2FileDrop
                        [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                        (fileOver)="fileOverBase($event)"
                        [uploader]="uploader"
                        class="well my-drop-zone">
                        Base drop zone
                      </div>
                      Multiple
                      <label class="custom-file mb-3">
                        <input type="file" ng2FileSelect [uploader]="uploader" multiple>
                        <!-- <span class="custom-file-control"></span> -->
                      </label>
                    </div>
              
                    <div class="col-md-9">
                      <p>Upload queue</p>
                      <p>Queue length: {{ uploader?.queue?.length }}</p>
              
                      <table class="table">
                        <thead>
                          <tr>
                            <th width="50%">Name</th>
                            <th>Size</th>
                            <th>Progress</th>
                            <th>Status</th>
                            <th>Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of uploader.queue">
                          <td><strong>{{ item?.file?.name }}</strong></td>
                          <td  nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                          <td >
                            <div class="progress" style="margin-bottom: 0;">
                              <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                            </div>
                          </td>
                          <td class="text-center">
                            <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                            <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                            <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                          </td>
                          <td nowrap>
                            <button type="button" class="btn btn-success btn-sm"
                              (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                              <span class="glyphicon glyphicon-upload"></span> Upload
                            </button>
                            <button type="button" class="btn btn-warning btn-sm"
                              (click)="item.cancel()" [disabled]="!item.isUploading">
                              <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                            </button>
                            <button type="button" class="btn btn-danger btn-sm"
                              (click)="item.remove()">
                              <span class="glyphicon glyphicon-trash"></span> Remove
                            </button>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                      <div>
                        <div>
                            Queue progress:
                            <div class="progress" style="">
                                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-success btn-s"
                                (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                            <span class="glyphicon glyphicon-upload"></span> Upload all
                        </button>
                        <button type="button" class="btn btn-warning btn-s"
                                (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                        </button>
                        <button type="button" class="btn btn-danger btn-s"
                                (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                            <span class="glyphicon glyphicon-trash"></span> Remove all
                        </button>
                    </div>
                    </div>
                  </div>
                </div>
            </div>
        </ng-template>
    </ngb-tab>

    <ngb-tab *ngIf="permission == 2">
        <ng-template ngbTabTitle>
            <div class="f-headers text-color" (click)="tabBeforeChange(2)">Permissions</div>
        </ng-template>
        <ng-template ngbTabContent>
            <div class="p-3">

                <div class="card">
                    <div class="card-header">
                        <div class="card-header-text w-100">
                            <div class="card-title">
                                Fixed
                            </div>
                        </div>
                    </div>
                    <div class="scroll-y" style="max-height: 250px;">
                        <div class="card-body">
                            <!-- <ngx-datatable *ngIf="workflow.Permissions.length > 0"
                            [columnMode]="'force'"
                            [headerHeight]="40"
                            [footerHeight]="0"
                            [rowHeight]="40"
                            [scrollbarV]="true"
                            [scrollbarH]="true"
                            [rows]="workflow.Permissions">
                                <ngx-datatable-column prop="Value.ID" name="Email" [width]="100">
                                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">        
                                        {{row.ID}}
                                    </ng-template>
                                </ngx-datatable-column>
                                
    
                                <ngx-datatable-column prop="Value.Permission" name="Permission" [width]="100">
                                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">        
                                        <select [disabled]="true" class="form-control  form-control-sm" #selectG>
                                            <option [value]="-1" [selected]="row.Permission == -1">Denied</option>
                                            <option [value]="0" [selected]="row.Permission == 0">View</option>
                                            <option [value]="1" [selected]="row.Permission == 1">Read</option>
                                            <option [value]="2" [selected]="row.Permission == 2">Write</option>
                                        </select> 
                                    </ng-template>
                                </ngx-datatable-column>
    
                                
                            </ngx-datatable> -->

                            <div class="row" *ngFor="let item of workflow.Permissions">
                                <div class="col-sm-6 col-md-6">
                                    {{ item.ID }}
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    
                                    <select [disabled]="true" class="form-control  form-control-sm" #selectG  (change)="setPermission(item.ID, selectG.value)">
                                        <option [value]="-1" [selected]="item.Permission == -1">Denied</option>
                                        <option [value]="0" [selected]="item.Permission == 0">View</option>
                                        <option [value]="1" [selected]="item.Permission == 1">Read</option>
                                        <option [value]="2" [selected]="item.Permission == 2">Write</option>
                                    </select>           
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card" *ngIf="users_filtered.length > 0 || search != ''">
                    <div class="card-header">
                        <div class="card-header-text w-100">
                            <div class="card-title">
                                Group ID: {{activeGroupID}}
                                <br>
                                <br>
                                Description: {{activeGroup.Description}}
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-2 col-md-2">
                                    
                                <select class="form-control  form-control-sm" #selectSG  (change)="viewGroup(selectSG.value)">
                                    <option *ngFor="let item of subgroups" [value]="item.ID">{{item.Name}}</option>
                                </select>
                            </div>

                            <div class="col-sm-6 col-md-6">
                                <input type="filter" class="form-control mb-3" placeholder="Type to filter the column..." required (keyup)='updateUserFilter($event)' *ngIf="users_filtered.length > 0 || search != ''">
                            </div>
                            
                            <div class="col-sm-2 col-md-2">
                                <button (click)="open(addpermission)" class="btn btn-secondary" style="width: 100%;">New User</button>
                            </div>
                            <div *ngIf="activeGroupID == wid" class="col-sm-2 col-md-2">
                                <button (click)="open(addgroup)" class="btn btn-secondary" style="width: 100%;">New Group</button>
                            </div>
                            
                            <div *ngIf="activeGroupID != wid" class="col-sm-1 col-md-1">
                                <button (click)="open(addgroup)" class="btn btn-secondary" style="width: 100%;">New Group</button>
                            </div>
                            <div *ngIf="activeGroupID != wid" class="col-sm-1 col-md-1">
                                <button (click)="open(removegroup)" class="btn btn-secondary" style="width: 100%;">Remove Group</button>
                            </div>
                        </div>
                        <div *ngIf="search != '' && users_filtered.length == 0">{{search}}</div>
                        <ngx-datatable *ngIf="users_filtered.length > 0"
                        [columnMode]="'force'"
                        [headerHeight]="40"
                        [footerHeight]="0"
                        [rowHeight]="40"
                        [scrollbarV]="true"
                        [scrollbarH]="true"
                        [rows]="users_filtered">
                            <ngx-datatable-column prop="Value.FirstName" name="First" [width]="100">
                                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">        
                                    {{row.FirstName}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column prop="Value.LastName" name="Last" [width]="100">
                                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">        
                                    {{row.LastName}}
                                    
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column prop="Value.Email" name="Email" [width]="100">
                                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">        
                                    {{row.Email}}
                                    
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column prop="Value.Permission" name="Permission" [width]="100">
                                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">        
                                    <select  class="form-control form-control-sm" #selectG (change)="setPermission(row.ID, row.Permission, selectG.value, row.Expiry)">
                                        <option [value]="-2" [selected]="row.Permission == 'Invited'">Invited</option>
                                        <option [value]="-1" [selected]="row.Permission == 'Denied'">Denied</option>
                                        <option [value]="0" [selected]="row.Permission == 'View'">View</option>
                                        <option [value]="1" [selected]="row.Permission == 'Read'">Read</option>
                                        <option [value]="2" [selected]="row.Permission == 'Write'">Write</option>
                                    </select>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column prop="Value.Expiry" name="Expiry" [width]="100">
                                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">        
                                    <form class="form-inline">
                                        <div class="form-group">
                                            <input class="form-control form-control-sm" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="row.Expiry" ngbDatepicker #d2="ngbDatepicker" (change)="setPermission(row.ID, null, null, row.Expiry)" (dateSelect)="setPermission(row.ID, null, null, row.Expiry)" /> 
                                            <div class="input-group-prepend" (click)="d2.toggle()" >
                                                <span class="input-group-text" style="height:30px;" id=""><i class="icon icon-basic-calendar" style="cursor: pointer;"></i></span>
                                            </div>
                                        </div>
                                    </form>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column prop="Value.Permission" name="Remove" [width]="20">
                                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                                    <a (click)="openRemovePermission(removepermission, row)"  class="ff-headers text-color">
                                        <div class="icon icon-arrows-circle-remove"></div>
                                    </a>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </div>

            </div>
        </ng-template>
    </ngb-tab>

</ngb-tabset>

<ng-template #addpermission let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h6 class="modal-title text-uppercase">Add Permission</h6>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <fieldset class="form-group">
            <label>
                Email
            </label>
            <input type="text"  [(ngModel)]="newEmail" class="form-control" />
        </fieldset>
        <p *ngIf="addPermissionMessage != ''">{{addPermissionMessage}}&hellip;</p>
        <fieldset class="form-group">
            <label>
                Permission
            </label>
            <select  class="form-control form-control-sm" [(ngModel)]="newPermission">
                <option [value]="-2">Invited</option>
                <option [value]="-1">Denied</option>
                <option [value]="0">View</option>
                <option [value]="1">Read</option>
                <option [value]="2">Write</option>
            </select>
        </fieldset>

        <fieldset class="form-group">
            <label>
                Expiry
            </label>
            
            <form class="form-inline">
                <div class="form-group">
                    <input class="form-control form-control-sm" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="newDate" ngbDatepicker #d3="ngbDatepicker" /> 
                    <div class="input-group-prepend" (click)="d3.toggle()" >
                        <span class="input-group-text" style="height:30px;" id=""><i class="icon icon-basic-calendar" style="cursor: pointer;"></i></span>
                    </div>
                </div>
            </form>
        </fieldset>
        
    </div>
    <div class="modal-footer">
            
        <button type="button" class="btn btn-warning" (click)="addPermission()">Submit</button>
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    </div>
</ng-template>

<ng-template #addgroup let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h6 class="modal-title text-uppercase">Add Group</h6>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <fieldset class="form-group">
            <label>
                Name
            </label>
            <input type="text"  [(ngModel)]="newGroup.Name" class="form-control" />
        </fieldset>
        <fieldset class="form-group">
            <label>
                Description
            </label>
            <input type="text"  [(ngModel)]="newGroup.Description" class="form-control" />
        </fieldset>
        <p *ngIf="addGroupMessage != ''">{{addGroupMessage}}&hellip;</p>
    </div>
    <div class="modal-footer">
            
        <button type="button" class="btn btn-warning" (click)="addGroup()">Submit</button>
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    </div>
</ng-template>

<ng-template #removegroup let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h6 class="modal-title text-uppercase">Remove Group</h6>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to remove the group</p>
        <p *ngIf="removeGroupMessage != ''">{{removeGroupMessage}}&hellip;</p>
    </div>
    <div class="modal-footer">
            
        <button type="button" class="btn btn-danger" (click)="removeGroup()">Remove</button>
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    </div>
</ng-template>


<ng-template #removepermission let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h6 class="modal-title text-uppercase">Remove Permission</h6>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to remove the permission {{activePermission.Email}}</p>
        <p *ngIf="removeGroupMessage != ''">{{removePermissionMessage}}&hellip;</p>
    </div>
    <div class="modal-footer">
            
        <button type="button" class="btn btn-danger" (click)="removePermission()">Remove</button>
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    </div>
</ng-template>

<ng-template #removefile let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h6 class="modal-title text-uppercase">Remove File</h6>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to remove the file {{activeFile.Name}}</p>
        <p *ngIf="removeGroupMessage != ''">{{removeFileMessage}}&hellip;</p>
    </div>
    <div class="modal-footer">
            
        <button type="button" class="btn btn-danger" (click)="removeFile()">Remove</button>
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    </div>
</ng-template>