<div class="p-3">
<div class="row">
    <div class="col-sm-4 col-md-4">
        <div class="form-group">
            <label for="exampleInputName1">Name</label>
            <input type="text" [(ngModel)]="func.Name" class="form-control" name="mindwt" placeholder="Enter min dead weight tons">
        </div>
    </div>
    <div class="col-sm-4 col-md-4">
        <div class="form-group">
            <label for="countrySelect1">Description</label>
            <input type="text" [(ngModel)]="func.Description" class="form-control" name="maxdwt" placeholder="Enter max dead weight tons">
        </div>
    </div>
    <div class="col-sm-4 col-md-4">
        <div class="form-group">
            <label for="countrySelect1">ID</label>
            <input type="text" disabled="disabled" [(ngModel)]="func.ID" class="form-control" name="speed_threshold" placeholder="Enter max dead weight tons">
        </div>
    </div>
</div>
<ngb-tabset>
    <ngb-tab title="Code">
        <ng-template ngbTabContent>
            <div class="col-sm-12 col-md-12">
                <div class="form-group">
                    <select #selectElemFiles (change)="onChangeFile(selectElemFiles.value)" class="form-control">
                        <option *ngFor="let item of files" [value]="item">{{func.Code[item].Item1}}</option>
                    </select>
                </div>
            </div>
            
            <codemirror *ngIf="func.Code != undefined && func.Code[fileidx] != undefined && !jsCode && !javaCode && !scalaCode && !pyCode && !csCode && !vbCode" [(ngModel)]="func.Code[fileidx].Item2" 
            [config]="editorOptionsFs">
            </codemirror>

            <codemirror *ngIf="func.Code != undefined && func.Code[fileidx] != undefined && pyCode" [(ngModel)]="func.Code[fileidx].Item2" 
            [config]="editorOptionsPy">
            </codemirror>

            <codemirror *ngIf="func.Code != undefined && func.Code[fileidx] != undefined && csCode" [(ngModel)]="func.Code[fileidx].Item2" 
            [config]="editorOptionsCs">
            </codemirror>

            <codemirror *ngIf="func.Code != undefined && func.Code[fileidx] != undefined && vbCode" [(ngModel)]="func.Code[fileidx].Item2" 
            [config]="editorOptionsVb">
            </codemirror>

            <codemirror *ngIf="func.Code != undefined && func.Code[fileidx] != undefined && javaCode" [(ngModel)]="func.Code[fileidx].Item2" 
            [config]="editorOptionsJava">
            </codemirror>

            <codemirror *ngIf="func.Code != undefined && func.Code[fileidx] != undefined && scalaCode" [(ngModel)]="func.Code[fileidx].Item2" 
            [config]="editorOptionsScala">
            </codemirror>

            <codemirror *ngIf="func.Code != undefined && func.Code[fileidx] != undefined && jsCode" [(ngModel)]="func.Code[fileidx].Item2" 
            [config]="editorOptionsJs">
            </codemirror>

            <div *ngIf="permission == 2">
                <button (click)="submitCode()" class="btn btn-primary">Submit</button>
            </div>
            <div *ngIf="compilationResult != '' && compilationResult != undefined">
                <br/>
                <textarea  class="form-control" [(ngModel)]="compilationResult" rows="10"></textarea>
            </div>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Settings">
        <ng-template ngbTabContent>
            <br/>
            <div class="row">
                <div class="col-sm-4 col-md-4">
                    <div class="form-group">
                        <label for="exampleInputName1">Load</label>
                        <input type="text" [(ngModel)]="func.Load" class="form-control" name="load" placeholder="Enter load function name">
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="form-group">
                        <label for="countrySelect1">Body</label>
                        <input type="text" [(ngModel)]="func.Body" class="form-control" name="body" placeholder="Enter body function name">
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="form-group">
                        <label for="countrySelect1">MID</label>
                        <input type="text" [(ngModel)]="func.MID" class="form-control" name="mid" placeholder="Enter multi-verse ID">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-4">
                    <div class="form-group">
                        <label for="exampleInputName1">Add</label>
                        <input type="text" [(ngModel)]="func.Add" class="form-control" name="add" placeholder="Enter add function name">
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="form-group">
                        <label for="countrySelect1">Exchange</label>
                        <input type="text" [(ngModel)]="func.Exchange" class="form-control" name="exchange" placeholder="Enter exchange function name">
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="form-group">
                        <label for="countrySelect1">Remove</label>
                        <input type="text" [(ngModel)]="func.Remove" class="form-control" name="remove" placeholder="Enter exchange function name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-4">
                    <div class="form-group">
                        <label for="exampleInputName1">Job</label>
                        <input type="text" [(ngModel)]="func.Job" class="form-control" name="job" placeholder="Enter job function name">
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="form-group">
                        <label for="countrySelect1">ScheduleCommand</label>
                        <input type="text" [(ngModel)]="func.ScheduleCommand" class="form-control" name="schedule" placeholder="Enter schedule command">
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="form-group">
                        <label for="countrySelect1">Started</label>
                        <div class="form-group">
                            <select [disabled]="permission < 2" #selectElem (change)="onChangeActive(selectElem.value)" class="form-control" id="exampleSelect01">
                                <option [value]="0" [selected]="func.Started">Active</option>
                                <option [value]="1" [selected]="!func.Started">Inactive</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            
        </ng-template>
    </ngb-tab>
</ngb-tabset>
</div>