<div class="row">
    <div class="col-sm-6 col-md-6">
        <div class="form-group" *ngIf="chgName">
            <input type="text" [(ngModel)]="selectedWB.Name" class="form-control" name="mindwt" placeholder="Enter min dead weight tons">
        </div>
        <div class="form-group" *ngIf="!chgName">
                    
            <select class="form-control" #selectWB  (change)="selectWBFunc(selectWB.value)" *ngIf="selectedWB != undefined && selectedWB.ID != undefined">
                <option *ngFor="let wb of workbooks" [value]="coflows.stringify(wb.Value)" [selected]="wb.Value.ID == selectedWB.ID">{{wb.Value.Name}}</option>
            </select>
        </div>
    </div>

    <div class="col-sm-6 col-md-6">
        <div data-toggle="buttons">
            <!-- <div class="col-lg-2 col-md-2 col-sm-2">&nbsp;</div> -->
            <button (click)="cfquery.submitCode(selectedWB)" class="col-lg-2 col-md-2 col-sm-2 btn btn-warning">Execute</button>
            <button (click)="cfquery.toggleVisibleCode()" class="col-lg-2 col-md-2 col-sm-2 btn btn-secondary">{{cfquery.visibleCode ? 'Hide' : 'Show'}} Code</button>
            <button *ngIf="permission == 2" (click)="changeName()" class="col-lg-2 col-md-2 col-sm-2 btn btn-secondary">Rename</button>
            <button *ngIf="permission == 2" (click)="open(deletecode, selectedWB)" class="col-lg-2 col-md-2 col-sm-2 btn btn-secondary">Delete</button>
            <button *ngIf="permission == 2" (click)="newCode()" class="col-lg-2 col-md-2 col-sm-2 btn btn-secondary">New</button>
        </div>
    </div>
</div>

<div class="col-sm-12 col-md-12">
    <a target="blank" href="{{coflows.coflows_server}}flow/openapi/{{selectedWB.WorkflowID}}/{{selectedWB.ID}}?_cokey={{coflows.quser.User.Secret}}">OpenAPI Specification</a>
</div>
<br/>

<ngb-alert [type]="'warning'" [dismissible]="false" *ngIf="cfquery.status.indexOf('thinking...') > -1 && cfquery.visibleCode">{{cfquery.status}} <div class="loader10"></div></ngb-alert>
<ngb-alert [type]="'danger'" [dismissible]="false" *ngIf="cfquery.status.indexOf('thinking...') == -1 && cfquery.compilationResult != '' && cfquery.compilationResult != undefined && cfquery.visibleCode">Error... please see below for details.</ngb-alert>
<codemirror [(ngModel)]="selectedWB.Code" *ngIf="permissionSet && cfquery.visibleCode && pyCode && selectedWB != undefined"
[config]="editorOptionsPy">
</codemirror> 
<codemirror [(ngModel)]="selectedWB.Code" *ngIf="permissionSet && cfquery.visibleCode && (csCode) && selectedWB != undefined"
[config]="editorOptionsCs">
</codemirror> 
<codemirror [(ngModel)]="selectedWB.Code" *ngIf="permissionSet && cfquery.visibleCode && !(jsCode) && !(javaCode) && !(scalaCode) && !(pyCode) && !(csCode) && !(vbCode) && selectedWB != undefined"
[config]="editorOptionsFs">
</codemirror> 
<codemirror [(ngModel)]="selectedWB.Code" *ngIf="permissionSet && cfquery.visibleCode && (vbCode) && selectedWB != undefined"
[config]="editorOptionsVb">
</codemirror> 
<codemirror [(ngModel)]="selectedWB.Code" *ngIf="permissionSet && cfquery.visibleCode && (jsCode) && selectedWB != undefined"
[config]="editorOptionsJs">
</codemirror> 
<codemirror [(ngModel)]="selectedWB.Code" *ngIf="permissionSet && cfquery.visibleCode && (javaCode) && selectedWB != undefined"
[config]="editorOptionsJava">
</codemirror> 
<codemirror [(ngModel)]="selectedWB.Code" *ngIf="permissionSet && cfquery.visibleCode && (scalaCode) && selectedWB != undefined"
[config]="editorOptionsScala">
</codemirror> 

<div class="col-sm-12 col-md-12">
    <!-- {{coflows.coflows_server}}flow/getquery?wid={{selectedWB.WorkflowID}}&_cokey={{selectedWB.ID}}&name= -->
    {{coflows.coflows_server}}flow/query/{{selectedWB.WorkflowID}}/{{selectedWB.ID}}/"name"?_cokey={{coflows.quser.User.Secret}}&p[0]=1&p[1]=2&p[2]3...
</div>
<coflows-query  #cfquery></coflows-query>



<ng-template #deletecode let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h6 class="modal-title text-uppercase">Delete script</h6>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p *ngIf="modalMessage == ''">Please confirm yous wish to delete the script.&hellip;</p>
        <p *ngIf="modalMessage != ''">{{modalMessage}}&hellip;</p>
    </div>
    <div class="modal-footer">
            
        <button type="button" class="btn btn-danger" (click)="c('delete')">Delete</button>
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    </div>
</ng-template>