<div class="row">
    <div class="col-sm-6 col-md-6">
        <div class="form-group" *ngIf="chgName">
            <input type="text" [(ngModel)]="selectedWB.Name" class="form-control" name="mindwt" placeholder="Enter min dead weight tons">
        </div>
        <div class="form-group" *ngIf="!chgName">
                    
            <select class="form-control" #selectWB  (change)="selectWBFunc(selectWB.value)" *ngIf="selectedWB != undefined && selectedWB.ID != undefined">
                <option *ngFor="let wb of workbooks" [value]="quantapp.stringify(wb.Value)" [selected]="wb.Value.ID == selectedWB.ID">{{wb.Value.Name}}</option>
            </select>
        </div>
    </div>

    <div class="col-sm-6 col-md-6">
        <div data-toggle="buttons">
            <!-- <div class="col-lg-2 col-md-2 col-sm-2">&nbsp;</div> -->
            <button (click)="qawbook.submitCode(selectedWB)" class="col-lg-2 col-md-2 col-sm-2 btn btn-warning">Execute</button>
            <button (click)="qawbook.toggleVisibleCode()" class="col-lg-2 col-md-2 col-sm-2 btn btn-secondary">{{qawbook.visibleCode ? 'Hide' : 'Show'}} Code</button>
            <button *ngIf="permission == 2" (click)="changeName()" class="col-lg-2 col-md-2 col-sm-2 btn btn-secondary">Rename</button>
            <button *ngIf="permission == 2" (click)="open(deletecode, selectedWB)" class="col-lg-2 col-md-2 col-sm-2 btn btn-secondary">Delete</button>
            <button *ngIf="permission == 2" (click)="newCode()" class="col-lg-2 col-md-2 col-sm-2 btn btn-secondary">New</button>
        </div>
    </div>
</div>

<ngb-alert [type]="'warning'" [dismissible]="false" *ngIf="qawbook.status.indexOf('thinking...') > -1 && qawbook.visibleCode">{{qawbook.status}} <div class="loader10"></div></ngb-alert>
<ngb-alert [type]="'danger'" [dismissible]="false" *ngIf="qawbook.status.indexOf('thinking...') == -1 && qawbook.compilationResult != '' && qawbook.compilationResult != undefined && qawbook.visibleCode">Error... please see below for details.</ngb-alert>
<codemirror [(ngModel)]="selectedWB.Code" *ngIf="permissionSet && qawbook.visibleCode && pyCode && selectedWB != undefined"
[config]="editorOptionsPy">
</codemirror> 
<codemirror [(ngModel)]="selectedWB.Code" *ngIf="permissionSet && qawbook.visibleCode && (csCode) && selectedWB != undefined"
[config]="editorOptionsCs">
</codemirror> 
<codemirror [(ngModel)]="selectedWB.Code" *ngIf="permissionSet && qawbook.visibleCode && !(jsCode) && !(javaCode) && !(scalaCode) && !(pyCode) && !(csCode) && !(vbCode) && selectedWB != undefined"
[config]="editorOptionsFs">
</codemirror> 
<codemirror [(ngModel)]="selectedWB.Code" *ngIf="permissionSet && qawbook.visibleCode && (vbCode) && selectedWB != undefined"
[config]="editorOptionsVb">
</codemirror> 
<codemirror [(ngModel)]="selectedWB.Code" *ngIf="permissionSet && qawbook.visibleCode && (jsCode) && selectedWB != undefined"
[config]="editorOptionsJs">
</codemirror> 
<codemirror [(ngModel)]="selectedWB.Code" *ngIf="permissionSet && qawbook.visibleCode && (javaCode) && selectedWB != undefined"
[config]="editorOptionsJava">
</codemirror> 
<codemirror [(ngModel)]="selectedWB.Code" *ngIf="permissionSet && qawbook.visibleCode && (scalaCode) && selectedWB != undefined"
[config]="editorOptionsScala">
</codemirror> 

<div class="col-sm-12 col-md-12">
    {{quantapp.quantapp_server}}m/getwb?workbook={{selectedWB.WorkflowID}}&id={{selectedWB.ID}}&name=
</div>
<quantapp-workbook  #qawbook></quantapp-workbook>



<ng-template #deletecode let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h6 class="modal-title text-uppercase">Delete script</h6>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p *ngIf="modalMessage == ''">Please confirm yous wish to delete the script.&hellip;</p>
        <p *ngIf="modalMessage != ''">{{modalMessage}}&hellip;</p>
    </div>
    <div class="modal-footer">
            
        <button type="button" class="btn btn-danger" (click)="c('delete')">Delete</button>
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    </div>
</ng-template>